* {
    padding:0;
    margin:0;
    font-family: Roboto, sans-serif
}

body > div {
    padding: 0 15%;
}

/* START OF HEADER STYLES */

.header {
    background-color:#1F2937;
}

.header-container {
    background-color:#1F2937;
    display:flex;
    justify-content:space-between;
    padding-top:20px
}

.header-content {
    display:flex;
    padding: 100px 0;
    gap:50px;
}

.left-header-content, .right-header-content {
    width:400px;
    flex:1;
}

.left-header-content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    box-sizing: border-box;
}

.left-header-content h1 {
    font-size: 48px;
}

.left-header-content p {
    padding-bottom: 10px;
}

.header h1, .header h2 {
    color:#F9FAF8;
    
}

.header a, .header p {
    color:#E5E7EB;
}

.header-links {
    display:flex;
    gap:30px;
}

a {
    text-decoration:none;
    font-size:18px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

.header-container h2 {
    font-size: 24px;
}

/* END OF HEADER STYLES */

/* START OF PRODUCT INFO STYLES */

.product-info h2{
    text-align: center;
    padding: 40px 0;
    font-weight:900;
    font-size: 36px;
}

.product-info img{
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px;
    width:250px;
    height:250px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.product-image-container {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-bottom: 100px;
    gap:50px;
}

figure {
    display:flex;
    flex-direction:column;
    align-items:center;
}

figcaption {
    text-align: center;
    width:250px;
}

/* END OF PRODUCT INFO STYLES*/

/* START OF QUOTE SECTION STYLES */

.quote {
    background-color: #E5E7EB;
    display:flex;
    flex-direction:column;
    padding-top: 150px;
    padding-bottom:130px;
}

.quote blockquote {
    font-size:36px;
    color: #1F2937;
    padding:0 50px 30px 50px;
}

.quote p {
    align-self: flex-end;
    padding-right:50px;
    font-size:24px;
    font-weight:700;
}

/* END OF QUOTE BLOCK STYLES */

button {
    background-color: #3882F6;
    color:#F9FAF8;
    flex-grow:0;
    border-radius: 6px;
    padding:5px 20px;
    width:100px
}

li {
    list-style-type:none;
}